<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKvdklCWlOEBirFt_qu5Wy2EMjKwz0EXo"></script>
<script type="text/javascript" src="/js/main.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<script th:inline="javascript">  
  const publicIp = [[${publicIp}]];
</script> 

<title>ODAFA - Operate Drones Anywhere From Anywhere</title> 

</head>

<body> 
    <hr>
	<div id="container" style="margin-left: 7px;">
		<div id="map"></div>
		<div class="dronesList"></div>
	</div>

</body>
</html>