<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script type="text/javascript" src="/js/main.js"></script>

<script th:inline="javascript">

const publicIp = [[${publicIp}]];
const droneId = [[${droneId}]];

const videoSocket = new WebSocketClient(droneId, publicIp, 80, "/videofeed");
videoSocket.connect(); 

$(document).ready(function(){
  $("img").attr("id","video" + droneId);
});

  
</script> 

<title>ODAFA - Operate Drones Anywhere From Anywhere</title> 

</head>

<body>
     <img src="video.jpg" style="width: 100%;"  onclick="videoSocket.connect();" >
</body>

</html>